.card {
  border: solid;
  border-color: black;
  .card__title {
    color: red;
    font-weight: bolder;
  }
  .card__reviewer {
    background-color: aquamarine;
    border: solid 2px;
    border-color: white;
  }
  .card__url {
    border: solid 2px;
    border-color: white;
  }
}

.url_and_reviewer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
  list-style: none;
  display: inline-block;
}

.page-link {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 3px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ccc;
  }
}

.active .page-link {
  background-color: #333;
  color: #fff;
}
