header {
  display: flex;
  width: 100%;
  background-color: #242f9b;
  justify-content: space-between;

  align-items: center;
  .app-title {
    color: white;
    padding-left: 20px;
  }
  a {
    color: white;
    padding-right: 20px;
  }
}
